version: "3"
services:
  estelle:
    build: .
    volumes:
      - .:/app
      - ./test_cache_output:/cache
    ports:
      - "1186:1186"
    # Limit to 100MB for testing GC
    command: ["estelled"]
    environment:
      - ESTELLE_ADDR=:1186
      - ESTELLE_CACHE_DIR=/cache
      - ESTELLE_LIMIT=100MB
      - ESTELLE_ALLOWED_DIRS=/app/tests
